--extra-index-url https://download.pytorch.org/whl/cu121
beautifulsoup4==4.12.3
httpx==0.28.1
matplotlib==3.10.9
numpy==1.22.4
openai>=1.58.0,<2
protobuf==5.29.6
pyautogen==0.2.0
python-Levenshtein==0.27.3
PyYAML==6.0.1
requests==2.32.3
sentence-transformers==2.7.0
torch==2.2.2
transformers==4.40.1
accelerate==0.30.1